#parse("layout.vm")
#@mainLayout()
<h4>Add a product below:</h4>
<form action="/adminpanel" method='post' enctype='multipart/form-data'>
    <i>Please choose a photo:</i>
    </br>
    <input type='file' name='img' accept='.jpg,.png'>
    </br>
    <label for="product_type" class="my-1 mr-2" id="inlineFormCustomSelectPref">Select below the type of
        product:</label>
    <select name="product_type" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option value="PC">PC</option>
        <option value="LAPTOP">Laptop</option>
        <option value="SMARTPHONE">Smartphone</option>
        <option value="TV">TV</option>
    </select>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="product_name" placeholder="Product name">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="description" placeholder="Description">
        </div>
        <div class="col">
            <input type="number" class="form-control" name="price" placeholder="Price">
        </div>
        <div class="col">
            <input type="number" class="form-control" name="stock" placeholder="Stock">
        </div>
    </div>
    <button type="submit" value="/adminpanel" class="btn btn-primary my-1">Add</button>
</form>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Product Type</th>
        <th scope="col">Product Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
    </tr>
    </thead>
<tbody>
    #foreach($product in $products)
    <tr>
        <td>$product.id</td>
        <td>$product.productType</td>
        <td>$product.productName</td>
        <td>$product.description</td>
        <td>$product.numberFormat() RON</td>
        <td>$product.stock</td>
        <td>
            <button onclick="location.href='/adminpanel/$product.id/$product.id'" class="btn btn-success">Edit</button>
            <button onclick="location.href='/adminpanel/$product.id'" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
    #end
</table>
<table id="table" data-sort-name="name"
       data-sort-order="desc">
    <thead>
    <tr>
        <th data-field="id" data-sortable="true">ID</th>
        <th data-field="productType" data-sortable="true">Item Type</th>
        <th data-field="productName" data-sortable="true">Item Name</th>
        <th data-field="description" data-sortable="true">Description</th>
        <th data-field="price" data-sortable="true">Item Price</th>
        <th data-field="stock" data-sortable="true">Item Stock</th>
        <th data-field="noOfSales" data-sortable="true">Number of sales</th>
    </tr>
    </thead>
</table>
<script>
    var data = $data;
    $(function () {
        $('#table').bootstrapTable({
            data: data
        });
    });
</script>
<script>
    function customSort(sortName, sortOrder, data) {
        var order = sortOrder === 'desc' ? -1 : 1
        data.sort(function (a, b) {
            var aa = +((a[sortName] + '').replace(/[^\d]/g, ''))
            var bb = +((b[sortName] + '').replace(/[^\d]/g, ''))
            if (aa < bb) {
                return order * -1
            }
            if (aa > bb) {
                return order
            }
            return 0
        })
    }
</script>
#end

