#parse("layout.vm")
#@mainLayout()
adminPanel


<form action="/adminpanel" method='post' enctype='multipart/form-data'>
<b>Please choose a photo:</b>
    </br>
    <input type='file' name='img' accept='.jpg,.png'>
</br>
    <label for="product_type" class="my-1 mr-2" id="inlineFormCustomSelectPref">Select below the type of product:</label>
    <select name="product_type" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option value="PC">PC</option>
        <option value="LAPTOP">Laptop</option>
        <option value="SMARTPHONE">Smartphone</option>
        <option value="TV">TV</option>
    </select>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="product_name" placeholder="Product name">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="description" placeholder="Description">
        </div>
        <div class="col">
            <input type="number" class="form-control" name="price" placeholder="Price">
        </div>
        <div class="col">
            <input type="number" class="form-control" name="stock" placeholder="Stock">
        </div>
    </div>
    <button type="submit" value="/adminpanel" class="btn btn-primary my-1">Add</button>
</form>


<table class="table">

    <thead class="thead-dark">

    <tr>
        <th scope="col">Id</th>
        <th scope="col">Product Type</th>
        <th scope="col">Product Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col"></th>
    </tr>
    </thead>
<tbody>
    #foreach($product in $products)
    <tr>
        <td>$product.id</td>
        <td>$product.productType</td>
        <td>$product.productName</td>
        <td>$product.description</td>
        <td>$product.price</td>
        <td>$product.stock</td>
        <td>
            <button onclick="location.href='/adminpanel/$product.id/$product.id'" class="btn btn-success">Edit</button>
            <button onclick="location.href='/adminpanel/$product.id'" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
    #end
</table>
#end

