#parse("layout.vm")
#@mainLayout()
<div class="d-flex justify-content-center">
    <h4><b>Project made in Java with:</b></h4>
    <b><ul>
            <li>SQLITE</li>
            <li>Apache Velocity</li>
            <li>Bootstrap 5</li>
            <li>Javascript(very few)</li>

        </ul>
    </b>
</div>
#end