#parse("layout.vm")
#@mainLayout()
<p>Lorem ipsum dolor sit amet, vim no erant aliquam voluptua. No natum reprimique accommodare est, ut per putent nostro
    quodsi, usu bonorum menandri et. Atqui congue delicata cum cu, ex cibo dicant sea. Modus nominavi mea ea, agam
    platonem suscipiantur vim ne. Dicam tritani no sit. Sit minim fastidii consequuntur in, graecis oportere ea mei, per
    oblique fierent an.
</p>
<p>Pri ne sint singulis urbanitas, te cum unum epicurei. Pri id intellegam efficiantur, cu sit stet debet democritum.
    Sea alterum fastidii propriae ei, an vidisse nonumes copiosae nec. At ius utinam equidem splendide, albucius
    torquatos interesset qui ut. Esse debet ius at.
</p>
<p>Aeque antiopam imperdiet ex vis, et quo probo graecis volutpat. Explicari repudiandae et eos. Errem admodum ius ad,
    animal aliquando vis ea. Graeci deserunt facilisis in usu, ea vel omnes vitae referrentur, aperiri perfecto et has.
    Sed insolens interpretaris eu. Ei qui velit sonet soluta, unum accumsan invenire est no, no mel eius prompta. Eam
    meis aeque doctus ad.
</p>
#end