#parse("layout.vm")
#@mainLayout()
<div class="d-flex justify-content-center">

<h1>Products: </h1>
</div>
<div class="parent">
    #foreach($product in $products)
    <div class="child">
        <a class="book" href="/products/$product.getId()">
            <div class="bookCover" >
                    <img src="$product.getImg()" alt="$product.productName"/>
            </div>
                    $product.productName
                </a>
            </div>
    #end
</div>
#end

