<form method="post">
    Email: <input type="text" name="email" required />
    Password: <input type="password" id="password" name="password" required />
    Name: <input type="text" id="name" name="name" />
    Address: <input type="text" id="address" name="address" />
    Phone number: <input type="number" id="phone" name="phone" />
   <input type="submit" class="registerbtn" value="Register"/>
</form>